<% content_for :head do %>
	<%= render "casham/structure/head" %>
<% end %>

<% content_for :header do %>
	<%= render "casham/structure/header" %>
<% end %>

<% content_for :hero do %>
	<%= render "casham/components/landing_hero", cols: "twelve"  %>
<% end %>

<% content_for :main_content do %>
	<main class="twelve columns main-body tcc-page" role="content"> <!-- Main Content -->
		<%= render "casham/components/widget_service_spotlight" %>
	</main>
<% end %>

<% content_for :footer do %>
	<%= render "casham/structure/footer" %>
<% end %>
