<% content_for :head do %>
	<%= render "casham/structure/head" %>
<% end %>

<% content_for :header do %>
	<%= render "casham/structure/foundation3_header" %>
<% end %>

<% content_for :hero do %>
	<%= render "casham/components/landing_hero", cols: "eight" %>
<% end %>

<% content_for :main_content do %>

	<div class="eight columns push-four main-body tcc-page" role="content"> <!-- Main Content -->	

<% 
=begin %>  

		<div class="widget row easy-as">
			<div class="twelve columns">
			  <h6 class="widget-header  ">
			    Easy As
			  </h6>
			</div>	
			<div class="four columns">one</div>
			<div class="four columns">two</div>
			<div class="four columns">three</div>
		</div>

	    <%= render "casham/components/widget_content_article" %>
	    <%= render "casham/components/widget_service_spotlight" %>
	    <%= render "casham/components/widget_store_locator" %>
	    <%= render "casham/components/widget_pr_highlights" %>
	    <%= render "casham/components/widget_financial_planning" %>

<% 
=end %>


	</div><!-- End Main Content -->

	<!-- Sidebar -->
	<aside class="four columns pull-eight side-bar tcc-page">
		<h2 class="semantic-only">Related Content</h2>
		<div class="side-bar-container">
	    <%= render "casham/components/widget_store_locator" %>

<% 
=begin %>  

	    <%= render "casham/components/widget_pr_highlights" %>
	    <%= render "casham/components/widget_content_article" %>
	    <%= render "casham/components/widget_service_spotlight" %>
	    <%= render "casham/components/widget_financial_planning" %>

<% 
=end %>

		</div>
	</aside> <!-- End Sidebar -->

<% end %>

<% content_for :footer do %>
	<%= render "casham/structure/footer" %>
<% end %>