<% content_for :head do %>
	<%= render "casham/structure/head" %>
<% end %>

<% content_for :header do %>
	<%= render "casham/structure/header" %>
<% end %>

<% content_for :hero do %>
	<%= render "casham/components/landing_hero", cols: "eight" %>
<% end %>

<% content_for :main_content do %>

	<!-- Sidebar -->
	<aside class="four columns side-bar tcc-page">
		<div class="side-bar-container">

	    <%= render "casham/components/widget_store_locator" %>
	    <%= render "casham/components/widget_pr_highlights" %>
	    <%= render "casham/components/widget_content_article" %>
	    <%= render "casham/components/widget_service_spotlight" %>
		</div>
	</aside> <!-- End Sidebar -->
	

	
	<main class="eight columns main-body tcc-page" role="content"> <!-- Main Content -->
 		
		<div class="widget content-article row">
		  <div class="twelve columns">
		    <h3>
		      <a href="#"> An Article Title </a>
		    </h3>
		  </div>
		    <div class="">
		      <div class="eight columns">
		        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.
		        </p>

		        <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		        </p>
		      </div>

		      <div class="four columns">
		        <%= image_tag "auto-equity.png" %>
		      </div>
		    </div>
		</div>

		<div class="widget content-article row">
		  <div class="twelve columns">
		    <h3>
		      <a href="#"> An Article Title </a>
		    </h3>
		  </div>
		    <div class="">
		      <div class="eight columns">
		        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.
		        </p>

		        <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		        </p>
		      </div>

		      <div class="four columns">
		        <%= image_tag "cash-advances.png" %>
		      </div>
		    </div>
		</div>

		<div class="widget content-article row">
		  <div class="twelve columns">
		    <h3>
		      <a href="#"> An Article Title </a>
		    </h3>
		  </div>
		    <div class="">
		      <div class="eight columns">
		        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.
		        </p>

		        <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		        </p>
		      </div>

		      <div class="four columns">
		        <%= image_tag "pawn.png" %>
		      </div>
		    </div>
		</div>

		<div class="widget content-article row">
		  <div class="twelve columns">
		    <h3>
		      <a href="#"> An Article Title </a>
		    </h3>
		  </div>
		    <div class="">
		      <div class="eight columns">
		        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.
		        </p>

		        <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		        </p>
		      </div>

		      <div class="four columns">
		        <%= image_tag "retail-services.png" %>
		      </div>
		    </div>
		</div>

	    <%= render "casham/components/widget_content_article" %>
	    <%= render "casham/components/widget_service_spotlight" %>

	    	    <%= render "casham/components/widget_store_locator" %>
	    <%= render "casham/components/widget_pr_highlights" %>
	    
	</main><!-- End Main Content -->

<% end %>

<% content_for :footer do %>
	<%= render "casham/structure/footer" %>
<% end %>