<% content_for :head do %>
	<%= render "casham/structure/head" %>
<% end %>

<% content_for :header do %>
	<%= render "casham/structure/header" %>
<% end %>

<% content_for :hero do %>
	<%= render "casham/components/landing_hero", cols: "eight" %>
<% end %>


<% content_for :main_content do %>

	<!-- Sidebar -->
	<aside class="four columns side-bar tcc-page">
	  <div class="side-bar-container">

	    <%= render "casham/components/widget_store_locator" %>
	    <%= render "casham/components/widget_pr_highlights" %>

	  </div>
	</aside> <!-- End Sidebar -->
	

	
	<main class="eight columns main-body tcl-page" role="content"> <!-- Main Content -->	    
	    <p>main content</p>
	    <%= render "casham/components/widget_service_spotlight" %>

	</main><!-- End Main Content -->

<% end %>

<% content_for :footer do %>
	<%= render "casham/structure/footer" %>
<% end %>