<% content_for :head do %>
	<%= render "casham/structure/head", page_css: ["components/header"] %>
<% end %>

<% content_for :header do %>
	<%= render "casham/structure/header" %>
<% end %>

<% content_for :hero do %>
	<%= render "casham/components/landing_hero", cols: "eight" %>
<% end %>


<% content_for :main_content do %>
	
	<main class="eight columns main-body push-four tcl-page" role="content"> <!-- Main Content -->	    
	    <p>main content</p>
	    <%#= render "casham/components/widget_service_spotlight" %>

	</main><!-- End Main Content -->

	<!-- Sidebar -->
	<aside class="four columns pull-eight side-bar tcc-page">
		<h2 class="semantic-only">Related Content</h2>
	  <div class="side-bar-container">

	    <%= render "casham/components/widget_store_locator" %>
	    <%#= render "casham/components/widget_pr_highlights" %>

	  </div>
	</aside> <!-- End Sidebar -->
<% end %>

<% content_for :footer do %>
	<%= render "casham/structure/footer" %>
<% end %>