<header class="header">
  <div class="header-shade"></div> 

  <div class="row header-container">
    <div class="twelve columns">
      <nav class="top-bar">
        <ul>
          <li class="name"><h1><a href="#">Cash America</a></h1></li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>
        <div>
<!--           <ul class="left">
            <li><%= link_to "Home", cashams_path %></li>
          </ul> -->

          <ul class="left">
            <li><%= link_to "Pawn Loans", cashams_path %></li>
            <li><%= link_to "Auto Title Loans", cashams_path %></li>
            <li><%= link_to "Cash Advances", cashams_path %></li>
            <li><%= link_to "Store Locator", casham_store_locator_path(:search_class => "active")%></li>
          </ul>          

          <ul class="your-store right">
            <li>
              <a><span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 title"></span> </a>
            </li>
            <li>
              <div>Your Store:</div>
              <div>Cash America</div>
              <div>address</div>
            </li>
<% 
=begin %>  

            <li class="">
              <ul>
                <!-- <span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 text-right"></span> -->
                <li class="org">Cash America</li>
                <li class="adr">
                  <a class="street-address">1234 Whodunnitst
                    <span class="locality">Ft. Worth, </span>
                    <span class="region">TX, </span>
                    <span class="postal-code">12345</span>
                  </a>
                </li>
              </ul>
            </li>

<% 
=end %>



        </ul>
          

        </div>      


      </nav>




<% 
=begin %>  
      
      <nav class="top-bar">


        <ul>
          <!-- Title Area -->
          <li class="name">
            <h1><a href="#">
                Cash America Logo Here
              </a></h1>
          </li>

          <li class="toggle-topbar">
            <a href="#"></a>
          </li>
        </ul>

        <section>
          <!-- Left Nav Section -->
          <ul class="left">
            <li class="divider"></li>

            <li class="has-dropdown">
              <a class="active" href="#">Item 1</a>

              <ul class="dropdown">
                <li><label>Section Name</label></li>

                <li class="has-dropdown">
                  <a href="#" class="">Level 1, Has Dropdown</a>

                  <ul class="dropdown">
                    <li>
                      <a href="#">Level 2</a>
                    </li>
                    
                    <li>
                      <a href="#">Level 2</a>
                    </li>

                    <li class="has-dropdown">
                      <a href="#">Level 2, Has Dropdown</a>
                      
                      <ul class="dropdown">
                        <li><label>Section</label></li>

                        <li>
                          <a href="#">Level 3</a>
                        </li>
                        
                        <li>
                          <a href="#">Level 3</a>
                        </li>
                        
                        <li class="divider"></li>
                        
                        <li>
                          <a href="#">Level 3</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a href="#">Level 2</a>
                    </li>

                    <li>
                      <a href="#">Level 2</a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="#">Level 1</a>
                </li>

                <li>
                  <a href="#">Level 1</a>
                </li>

                <li class="divider"></li>

                <li><label>Section Name</label></li>

                <li>
                  <a href="#">Level 1</a>
                </li>
                
                <li>
                  <a href="#">Level 1</a>
                </li>
                
                <li>
                  <a href="#">Level 1</a>
                </li>
                
                <li class="divider"></li>

                <li>
                  <a href="#">See all &rarr;</a>
                </li>
              </ul>
            </li>
            
            <li class="divider hide-for-small"></li>
          </ul>

          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider show-for-medium-and-up"></li>

            <li class="has-dropdown">
              <a href="#">Item 2</a>
              
              <ul class="dropdown">
                <li><label>Section Name</label></li>

                <li>
                  <a href="#" class="">Level 1</a>
                </li>

                <li>
                  <a href="#">Dropdown Option</a>
                </li>
                
                <li>
                  <a href="#">Dropdown Option</a>
                </li>
                
                <li class="divider"></li>
                
                <li><label>Section Name</label></li>
                
                <li>
                  <a href="#">Dropdown Option</a>
                </li>
                
                <li>
                  <a href="#">Dropdown Option</a>
                </li>
                
                <li>
                  <a href="#">Dropdown Option</a>
                </li>
                
                <li class="divider"></li>
                
                <li>
                  <a href="#">See all &rarr;</a>
                </li>
              </ul>
            </li>
          </ul>
        </section>





      </nav>
<% 
=end %>
    </div>
  </div>
</header>